{% load static %}
<html lang="en">
<head>
<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Black Scholes Model</h5>
    </div>
  </div>
</head>

<body>
  <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="https://www.linkedin.com/in/edwyn-flores/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" width="25" height="25" style="vertical-align: middle; margin-right: 10px;">
          Edwyn Flores
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Asset Price
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <div class="input-group-prepend">$</div>
          <input type="text" id="assetPrice" class="form-control" value="100.00">
        </div>
        <div class="assetPriceFeedback invalid-feedback" style="display:none"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Strike Price
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <div class="input-group-prepend">$</div>
          <input type="text" id=strikePrice class="form-control" value="100.00">
        </div>
        <div class="strikePriceFeedback invalid-feedback" style="display:none"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Time to Maturity (Years)
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <input type="text" id=time class="form-control" value="1.00">
        </div>
        <div class="timeFeedback invalid-feedback" style="display:none"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Volatility
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <input type="text" id=volatility class="form-control" value="0.15">
        </div>
        <div class="volatilityFeedback invalid-feedback" style="display:none"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Risk-Free Interest Rate
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <input type="text" id=rfiRate class="form-control" value="0.05">
          <div class="input-group-append">%</div>
        </div>
        <div class="rfiRateFeedback invalid-feedback" style="display:none"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Min Spot Price
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <div class="input-group-prepend">$</div>
          <input type="text" id="minSpotPrice" class="form-control" value="80.00">
        </div>
        <div class="minSpotPriceFeedback invalid-feedback" style="display:none"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex align-items-center gap-2">
          Max Spot Price
        </a>
        <div class="nav-link d-flex align-items-center gap-2">
          <div class="input-group-prepend">$</div>
          <input type="text" id="maxSpotPrice" class="form-control" value="120.00">
        </div>
        <div class="maxSpotPriceFeedback invalid-feedback" style="display:none"></div>
      </li>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2">
        Min Time to Maturity (Years)
      </a>
      <div class="nav-link d-flex align-items-center gap-2">
        <input type="text" id=heatMapMinTime class="form-control" value="1.00">
      </div>
      <div class="minTimeFeedback invalid-feedback" style="display:none"></div>
    </li>
  </li>
  <li class="nav-item">
    <a class="nav-link d-flex align-items-center gap-2">
      Max Time to Maturity (Years)
    </a>
    <div class="nav-link d-flex align-items-center gap-2">
      <input type="text" id=heatMapMaxTime class="form-control" value="1.00">
    </div>
    <div class="maxTimeFeedback invalid-feedback" style="display:none"></div>
  </li>
    </ul>
  </div>
  <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</div>
</html>