{% extends 'base.html' %}

{% load static %}

{% block content %}
<link href="{% static 'css/valuation.css' %}" rel="stylesheet">

<h1>Black-Scholes Pricing Model</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Asset Price</th>
            <th scope="col">Strike Price</th>
            <th scope="col">Time (Years)</th>
            <th scope="col">Volatility</th>
            <th scope="col">Interest Rate (Risk-Free)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="modelAssetPrice">100.00</td>
            <td id="modelStrikePrice">100.00</td>
            <td id="modelTime">1.00</td>
            <td id="modelVolatility">0.15</td>
            <td id="modelRfiRate">0.05</td>
        </tr>
    </tbody>
</table>

<div class="pricing-container">
    <div class="box callValueFeedback">Call Value</div>
    <div class="box putValueFeedback">Put Value</div>
</div>

{% endblock content %}